body{
    background-color: lightcoral;
    color: palevioletred;
    margin: 0px;



}

header{
border-bottom: solid 2px white;
padding: 20px;
font-size: 32px;
color: white;}


section{
background-color: antiquewhite;
padding-top: 80px;
padding-bottom: 80px;
display: flex;
justify-content: center;



}


}
